.App {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: #fff;
  color: #0022ff;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  margin: 10px auto 0;
  border-radius: 10px 10px 0 0;
  border-bottom: 2px solid #abaaaa;
}

nav .logo-container {
  margin-left: 10px;
  flex: 0 0 auto; /* Prevents the logo container from growing */
}

nav img {
  width: 100px;
  height: 70px;
}

nav h1 {
  flex-grow: 1; /* Allows the h1 to take up remaining space */
  text-align: center; /* Centers the text within the h1 element */
}

h1 {
  margin: 0;
  padding: 10px 0;
}

h2 {
  color: #333;
}

/* Sidebar styling */
.navbar,
.sidebar,
.main-content {
  padding: 10px;
}

.sidebar {
  width: 200px;
  height: 100vh;
  float: left;
  background-color: #fff;
  color: #0022ff;
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 10px auto 0;
  margin-left: 25px;
  margin-top: 0;
  border-radius: 0 0 10px 0;
  border-right: 2px solid #abaaaa;
}

.sidebar div,
.sidebar button {
  margin-bottom: 10px;
}

.view-filters h3 {
  margin-bottom: 10px;
}

button {
  padding: 5px 10px;
  width: 100%;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button:hover {
  background-color: #e8e8e8;
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}

/* New Features Styles */

.main-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  width: 300px;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
  text-align: center;
}

.card h3 {
  color: #333;
  font-size: 18px;
}

.card p {
  color: #666;
  font-size: 16px;
}
